USE [master]
GO
/****** Object:  Database [CARS]    Script Date: 9/1/2026 10:25:18 AM ******/
CREATE DATABASE [CARS]
GO

USE [CARS]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/1/2026 10:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 9/1/2026 10:25:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Anio] [varchar](10) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'LAMBORGINI', N'DEPORTIVO1', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'FORD', N'VEHICULOS 4X4', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Hatchback', N'Vehículos compactos con puerta trasera integrada', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (6, N'PCD-5678', N'Chevrolet', N'Sail', N'2024', CAST(16000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (7, N'PCD-7777', N'Chevrolet', N'Sail', N'2025', CAST(16000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (1003, N'PCD-8888', N'Toyota', N'Sail', N'2000', CAST(10000.00 AS Decimal(18, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vehiculo] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculo_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [FK_Vehiculo_Categoria]
GO
USE [master]
GO
